<template name="home">
<img id="homecoverimg" src="http://ldcss.s3-website-us-east-1.amazonaws.com/cms/asset/image/MarketingPlaylists-ContentMktg.jpg874108500.jpg" alt="">

  <div class="container">

    <div class="text-center">

        <h1 class="boldheader">Welcome to the GAME OF PHONES: a gaming platform where you can win super exciting 
        gifts</h1>

        
        <div class="leftdiv">
        <br>
        Including:
        <br>
        1.  A fully paid trip for two to Cox's Bazar <br>
        2.  Dinner for two at Le Meridien <br>

        3.  Tk. 10,000/= worth of gift vouchers from Bata <br>

        4.  Tk. 5,000/= worth of gift cards from Aarong <br>

        5.  Dinner for two at Hakka Dhaka

        <br>
        <br> 

        All you have to do is play an exciting game and win the highest number of points!

        <br>
        <br>

        The game consists of 30 consecutive rounds. In each round you will have the opportunity to purchase an iPhone from one of two sellers : Brandon and Joshua.

        <br>
        <br>

        Unfortunately, some iPhones they will sell are actually refurbished. Your problem however is that you do not know for sure if an iPhone is refurbished or brand new. As you proceed through 30 rounds, you can use your judgement to improve your guesses to win a brand new phone! From past experience you know that there is a 25% chance that an iPhone is refurbished.

        <br>
        <br>

        Between the two sellers, one is an extra honest seller, and one is a regular seller. The extra-honest seller will definitely inform you beforehand if the product is refurbished and charge a lower price. On the other hand, a regular seller will not reveal beforehand if a product is refurbished and charge the same price as he would for a brand new iPhone.

        <br>
        <br>

        You value a brand new iPhone at Tk. 62,000.
        You value a refurbished iPhone at Tk. 52,000.

        <br>
        <br>

        Therefore, your net utility depend on which kind of phone you buy, and at what price. For example:

        <br>
        <br>

        Scenario 1: If you buy a refurbished iPhone at Tk. 62,000 --> you will enjoy a net utility of Tk. 42,000 <br/>
        Scenario 2: If you buy a brand new iPhone at Tk. 62,000 --> you will enjoy a net utility of Tk. 62,000 <br/>
        Scenario 3: If you buy a refurbished iPhone at Tk. 52,000 --> you will enjoy a net utility of Tk. 52,000 <br/>
        Scenario 4: If you buy a brand new iPhone at Tk. 52,000 --> you will enjoy a net utility of Tk. 72,000 <br/>


        <br>
        <br>

        Your objective is to maximize your net utility from purchasing iPhones. The highest possible utility you can attain is 1,860,000 (62,000x30) - meaning you have bought a brand new iPhone in each of the 30 rounds. The lowest utility you can earn is 1,260,000 (42,000x30) - meaning you have bought a refurbished iPhone at the price of a brand new one in each of the 30 rounds.

        <br>
        <br>

        Based on your net utility score, you will be winning exciting gifts as was mentioned earlier!

        <br>
        <br>

        To know your final score, click on this link: http://tinyurl.com/z8ubxpp. You will be taken to a google spreadsheet. After you complete the game by clicking 'submit', refresh the link and see your score.

        <br>
        <br>

        You will be provided with this link once more at the end of the game, before clicking 'submit'.

        <br>
        <br>

        <br>
        <br>
            
        </div>

        
    </div>
  </div>
</template>
